<%= form_with(model: questionnaire, local: true) do |form| %>
  
  <div class="form-group">
    <label for="subject" class="control-label mb-1">Subject</label>
    <%= form.text_field :subject, id:"subject", class:"form-control", placeholder:"Enter a subject" %>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="num_question" class="control-label mb-1">Number of Questions</label>
        <%= form.number_field :noQuestion, id:"num-question", class:"form-control cc-exp", placeholder:"Enter the number of questions"%>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    <%= form.submit "Save", class:"btn btn-success"%>
  </div>


<% end %>
